* {
    box-sizing: border-box;
}

body {
    background-color: #f0ecec;
    color: #538f10;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 10px 45px 45px 45px;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf)
}

@font-face {
    font-family: Fonte;
    src: url(Fonte.ttf)
}

h1,
h2 {
    margin: 0;
}

header h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    user-select: none;
}

#logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#logoImg {
    padding-right: 10px;
    pointer-events: none;
    width: 250px;
    position: relative;
    bottom: 12px;
}

.menu {
    background-color: #759b49;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.22), 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.menu a {
    display: block;
    text-align: center;
    padding: 13px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
}

.menu a:hover {
    background-color: white;
    color: #759b49;
}

.Banner {
    background-image: url(imagens/Banner.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.Produtos {
    background-color: #759b49;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Coluna-esquerda:hover {
    box-shadow: 0px 0px 15px #888888;
}

.Coluna-esquerda {
    background-image: url(imagens/destaquesChas.jpg);
    margin-top: 20px;
    padding: 25px;
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    height: 398px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.Coluna-direita:hover {
    box-shadow: 0px 0px 15px #888888;
}

.Coluna-direita {
    background-image: url(imagens/destaquesOleos.jpg);
    margin-top: 20px;
    padding: 25px;
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    height: 398px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.Coluna-Promocao {
    margin-left: 128px;
}

.Texto {
    background-color: #759b49;
    padding: 25px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Social {
    position: relative;
    left: 130px;
    margin-left: auto;
    margin-right: auto;
}

.Rede {
    background-color: #759b49;
    border-radius: 20px;
    width: 330px;
    height: 200px;
    margin-top: 30px;
    display: inline-block;
}

.Frases {
    color: #455c2c;
    font-family: Fonte;
    font-size: 40px;
    position: relative;
    left: 130px;
    top: 10px;
    border-bottom: 2px solid #4d6630;
    margin-top: 10px;
}

.produto {
    text-align: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    font-size: 20px;
}

.produto:hover {
    box-shadow: 0px 0px 15px #888888;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(210px, 1fr));
    grid-gap: 16px;
}